# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Database
*.db

# Encryption Keys
*.key

# Environment Variables
.env

# Pytest
.pytest_cache/

# macOS
.DS_Store

# Windows
Thumbs.db